@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
$font-family: 'Roboto', sans-serif;

.footer-container{
    .footer-grid{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 10px;
        margin-left: 10% ;
        margin-right: 10%;

        .footer-grid-tittle{
            font-family:$font-family ;
            .footer-tittle{
                font-weight: 700;
                font-size: 1.0em;
            }

            ul{
                list-style-type: none;
                padding-left:0 ;
                .footer-items{
                    margin-top:6px ;
                    margin-bottom:6px;
                    font-weight: 300;
                    font-size: 0.9em;
                }
                .footer-items:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}