@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');
$image-height: 278.89px;
$font-family: 'Roboto', sans-serif;

.new-arrival-container{
    font-family: $font-family;
    border: 1px solid transparent;    
    display: inline-block;
    margin-right: 15px;

    .new-arrival-image-container{
        background-size: cover;
        background-repeat: no-repeat;

        background-size: contain;
        height: $image-height ;
        width: $image-height;

        position: relative;

        .new-arrival-heart{
            position: absolute;
            left: 245px;
            top:15px;

            height: 19px;
            width: auto;
        }

        .price{
            position: absolute;
            top: 248px;
            left: 7px;
            background-color: white;
            color:black;
            font-size: 0.9em;
            font-weight: 300;

            transition: top 0.1s ease-in-out;
        }
    }

    .new-arrival-text-container{
        text-decoration: none;
        font-weight: 300;
        font-size: 0.8em;

        padding-left:7px;
        padding-left: 7px;
        padding-top: 20px;
        padding-bottom: 20px;

        .new-arrival-tittle{
            font-size: inherit;
            color: black;

            margin-bottom: 5px;
        }
        .new-arrival-category{
            font-size: inherit;
            color: grey;

            margin-bottom: 5px;
        }
        .new-arrival-new{
            font-size: inherit;
            color: black;

            margin-bottom: 5px;
        }
    }
    
    &:hover{
        border: 1px solid gray;

        .price{
            top:240px
        }
    }
}
