.sport-card-carrousel-super-container{
    margin-top: 80px;
    margin-right: 1%;
    margin-left: 1%;

    display: flex;
    flex-direction: row;

    overflow-x: scroll;
    white-space: nowrap;
    
}