@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');
$font-family: 'Roboto', sans-serif;
$image-height: 185px;
$image-width: 295px;

.sport-card-super-container{
    font-family: $font-family;
    width: $image-width;
    margin-left: 5px;
    margin-right: 5px;

    .sport-card-image-container{
        z-index: 0;
        .sport-card-image{
            height: $image-height;
            width: $image-width;
            object-fit: cover;

            
        }
    }


    .sport-card-text-container{      
        white-space: normal;  
        padding-left: 10px;        
        padding-right: 10px;

        margin-top: -20px;
        z-index: 1;
        background-color: orange;

        .sport-card-tittle-container{            
            

            .sport-card-tittle{                
                margin-top: 0px;
            }
        }

       .sport-card-description-container{
                                
            .sport-card-description{
                margin-top: 10px;
                font-weight: 300;
            }
        }
    }
}