@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
$font-family: 'Roboto', sans-serif;
$search-bar-color: #edeff1;

@keyframes inputFocus {
    0% {
      border-color: gray;
    }
    100% {
      border-color: black;
    }
}

body{
    margin: 0;
}

.navBarContainer{
    padding-left: 30px;
    padding-right: 30px;    
    border-width: 1px;
    border-bottom-color: rgb(233, 233, 233);
    border-style: solid;

    .helpSection{
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        list-style-type: none;
        font-family: $font-family;
        font-size: 0.8rem;
        font-weight: 300;

        li{
            padding: 0 10px;        

            img{
                width: 22px;
                height: 15px;            
            }
        }

        li:hover{
            text-decoration: underline;
        }
    }

    .mainMenu{
        display: flex;
        flex-direction: row;
        JUSTIFY-content: space-between;        

        .logo{
            height: 40px;
            width: 50px;
        }

        .menuItems{
            display: flex;
            flex-direction: row;
            justify-content: center;
            list-style-type: none;            
            padding-left: 0;
            margin-left: 10%;


            li{
                padding: 0 10px;
                font-size: 0.85rem;
                letter-spacing: 0.15em;
                display: flex;
                
                position: relative;

                &:hover::after{
                    content: "";
                    position: absolute;
                    background-color: black;                                        
                    top: 30px;
                    height: 3px;
                    width:100%;
                    left:0;
                    right: 0;
                }
            }
            

            .bold{
                font-family: $font-family;            
                font-weight: 500;
            }

            .light{
                font-family: $font-family;            
                font-weight: 300;
            }
            
        }

        .auxMenu{
            display: flex;
            flex-direction: row;
            justify-content: flex-end; 
            align-items: center;      
            
            .inputWraper {
                background-color: $search-bar-color;
                display: flex;
                flex-direction: row;
                align-items: center;
                border-width: 1px;
                border-style: solid;
                border-color: transparent;
                transition: border-color 0.5s ease-out;


                &:focus-within{
                    border-color: black;
                }

                .search-icon{
                    margin-right: 7px;
                }

                input {
                    all: unset;                         
                    padding-top: 7px;
                    padding-bottom: 7px;
                    padding-left: 10px;
                    
                    &::placeholder { 
                        color: black;
                        font-family: $font-family;
                        font-weight: 300;
                        font-size: 0.8rem;
                    }
                                  

                    &:focus::placeholder{
                        color: transparent;
                    }
                }
            }
              

            img{
                width: 20px;
                height: 20px;
            }
        }

        img{
            margin-left: 10px;
            margin-right:10px;
        }
    }
}